

.urlshits {

	font-family: 'Roboto', sans-serif;
	margin-left:450px;
	display:flex;
}

.urlshits td {
    
       padding-right:140px;
}

.urlshits hr{

	height:2px; width:200px; border:none; color:#000; background-color:#EEE; 
}